.operatingSystem {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  position: relative;
}

@supports (-webkit-touch-callout: none) {
  /* Hack to have Safari use -webkit-fill-available, and chrome use the default height */
  .operatingSystem {
    height: -webkit-fill-available;
  }
}

.menuBar {
  background-color: red;
  display: block;
  padding: 5px; 
  flex: 0 1 auto;
}

.windowContainer {
  position: relative;
  background-color: white;
  display: block;

  flex: 1 1 auto;
  width: 100%;

  overflow: hidden;
}

.dock {
  display: block;
  background-color: blue;

  height: 40px;
  width: 100%;

  flex: 0 1 auto;

  bottom: 0;
}
