html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overscroll-behavior: none;
}

#__next {
  height: 100vh;
}

@font-face {
  font-family: 'Galyon Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Galyon Regular'), url('/fonts/Galyon-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Galyon Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Galyon Bold'), url('/fonts/Galyon-Bold.woff') format('woff');
}
