.renderer {
  width: 100%;
  height: 100%;

  position: relative;
}

.cssOutput,
.webglOutput,
.hoverEffects {
  position: absolute;
  user-select: none;
  top: 0;
  left: 0;
}

.hoverEffects {
  width: 100%;
  height: 100%;
}