.ui {
  position: relative;
  z-index: 1;
}

.cinematic {
  display: block;
}

.name-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease-in;
  font-family: 'Galyon Bold';
  text-transform: uppercase;
}

.name-container span {
  display: inline-block;
  padding: 8px 20px;
  margin: 3px 5px 1px;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
}

.cinematic-instructions {
  position: fixed;
  bottom: 25%;
  font-size: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  padding: 8px 20px;
  color: #fff;
  pointer-events: none;
  transition: opacity 100ms ease-in;
  opacity: 1;
  font-family: 'Galyon Bold';
  text-transform: uppercase;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
