.dock {
  z-index: 10000;

  position: absolute;
  display: flex;

  height: 66px;
  width: 100%;

  flex: 0 1 auto;

  bottom: 0;

  pointer-events: none;

  justify-content: center;
}

.dockContainer {
  display: block;
  background-color: red;

  pointer-events: all;
}
