.home-title {
  display: flex;
  justify-content: center;
  font-family: 'Century Schoolbook', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: normal;
}

.home-subtitle {
  display: flex;
  justify-content: center;
  font-family: 'Century Schoolbook', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0.5rem;
}

.navigation {
  width: 12rem;
  min-width: 12rem;
  padding: 1.5rem;
}

.navigation-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.page-h1 {
  font-family: 'Century Schoolbook', sans-serif;
  font-weight: normal;
  font-size: 2rem;
}

.logo-part {
  display: block;
  font-family: 'Century Schoolbook', sans-serif;
  font-size: 1.5rem;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.home-page {
  display: flex;
}

.subpage {
  display: flex;
  height: 100%;
}

.subpage-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1.5rem;
  overflow: auto;
}

.subpage-home {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.home-button-container {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.home-button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
