.folder {
  width: 100%;
  height: 100%;
  display: block;

  position: relative;
}

@supports (-webkit-touch-callout: none) {
  /* Hack to have Safari use -webkit-fill-available, and chrome use the default height */
  .folder {
    height: -webkit-fill-available;
  }
}


.selectionBox {
  display: block;
  position: absolute;
  background-color: hotpink;
  opacity: 0.7;
  z-index: 1000;
}

.iconsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.selectionBoxContainer {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
  user-select: none;
}
