.folder {
  width: 100%;
  height: 100%;
  display: block;

  position: relative;
}

.selection-box {
  display: block;
  position: absolute;
  background-color: rgba(105, 205, 249, 0.2);
  border: 1px solid rgba(105, 205, 249, 0.8);;
  z-index: 1000;
}

.icons-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 38px);
  overflow: auto;
}

.icons-container.hide-overflow {
  overflow: hidden;
}

.selection-box-container {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
  user-select: none;
}
