.menuBar {
  background-color: darkgray;
  display: flex;
  padding: 5px; 
  flex: 0 1 auto;
}

.appEntries {
  flex: 1;
}

.date {
  display: inline-block;
  user-select: none;
}

.weekday {
  text-transform: capitalize;
}

/* We don't do capitalization on months in Dutch */
.date[data-locale="en"] .month {
  text-transform: capitalize;
}
