.full-size-application {
  display: flex;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content {
  padding: 3px;
  max-width: 600px;
}

.form {
  display: block;
}

.form-row label {
  display: block;
}

.form-row {
  padding: 5px 0;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row textarea {
  width: 100%;
}

.form-row label {
  font-weight: 600;
}

.form-row textarea {
  resize: vertical;
  min-height: 40px;
}

.processed {
  background: #0dff0d;
  padding: 10px;
  box-shadow: inset -1px -1px #535353,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
}

.instructions span {
  display: block;
}

.instructions {
  display: block;
  float: right;
  text-align: right;
}

.required {
  color: red;
  padding-right: 3px;
  font-weight: normal;
}

.required-instructions {
  font-size: 0.8rem;
}

.required-instructions span {
  display: inline-block;
}

.contact-info {
  margin: 0;
}

.contact-header {
  display: flex;
  justify-content: space-between;

  margin: 1rem 0;
}

.contact-header h1 {
  margin: 0;
}

.contact-socials {
  display: flex;
}

.contact-socials a {
  padding: 10px;
  margin: 2px;
  display: block;
  height: 100%;
  height: 22px;
  box-sizing: content-box;
  background-color: #dcdcdc;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #c8c8c8,inset -2px -2px grey,inset 2px 2px #fff;
}

.contact-socials a img {
  user-select: none;
}

.contact-socials a:hover {
  background-color: #c9c9c9;
}

.contact-socials a:active {
  background-color: #dcdcdc;
  box-shadow: inset -1px -1px #fff,inset 1px 1px #535353,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}
